


body{
	height: 80%;
	margin: 0;
	font-family: sans-serif;
	border: solid 1px green;
}


/*cabecera*/
header{
	width:100%;
	background: #5b7989;
	border-radius: 10px;
	
}
/*navegacion*/
#btn-menu{
	display: none;

}
header label {
	display:none;
	width: 20px;
	height: 20px;
	padding:10px;
	border-right: 1px solid green;

}
/*textotitulo*/
h1{
	margin: 0px;
	padding: 0px;
	text-align: left;
	color: white;
	text-shadow: 2px 2px #02010a;

}
header label:hover{
	cursor: pointer;
	background: rgba(0,0,0,0.3);
}
.menu ul{
	margin: 0;
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: flex-end;
	
	
}

.menu ul :hover{
	background:rgba(0,0,0,0.3);
}


.menu  li a {
	display:block;
	margin: 10%;
	padding:  20px;
	text-decoration: none;
	color:white;
}
/*centro*/
.central{
	display: block;
	width: 100%;
	height: 430px;
	border-top: 1px solid green;


}

/*imagen centro*/
.imagen{
	width: 100%;
	height: 50%;
	background:  #82c3a6;
	border: solid 1px green;

}
/*fotos y imagen*/
#imagen{
	width: 65%;
	height: 200px;
	display: flex;
	margin:auto;
	padding: 6px;
	
}




/*imagen centro 2*/
.imagenabajo{
	display: block;
	width: 100%;
	height: 50%;
	background:  #d5c75f;
	border: solid 1px green;

}

/*imagen lado derecha*/
#paisajes{
	float: right;
	width: 50%;
	height: 100%;
	border: solid 1px green;
}
#imagen2{
	display: block;
	margin:auto;
	padding: 3%;
	border: solid 1px green;
	transition-property: all;
}
#imagen2{
	transform:translateY(10px);
	transform:translateY(-10px);
}

/*imagen lado izquierda*/
#retratos{
	
	width: 50%;
	height: 100%;
	border: solid 2px green ;
	 
}
/*imagen lado izquierda*/

#imagen3{
		display: block;
	margin:auto;
	padding: 3%;
	border: solid 1px #82c3a6;
}
#imagen3:hover {
	
	-webkit-transform: rotate(10deg);
 -moz-transform: rotate(10deg);
 -ms-transform: rotate(10deg);
 transform: rotate(10deg);

}

/*pie de pagina*/
#piepagina{
	width: 100%;
	height:100px;
	display: flex;
	border: solid 1px green;
	float: fixed;
	border-radius: 10px;
	background: #C6d5c5;
}
.contactos{
	
	width: 25%;
	height:100%;
	border: solid 1px green;

}
#texto{
	text-align: center;
}
h4{
	text-align: center;
	height: 10px;
	height: 10px;
}
.terminos{

	width: 25%;
	height:100%;
	border: solid 1px green;
}
.redessociales{
	width: 25%;
	height:100%;
	border: solid 1px green;

}
.derechos{
	width: 25%;
	height:100%;
	border: solid 1px green;

}
@media (max-width:768px){
header label{
	display: block;}
.menu{
	position: absolute;
	background:#5b7989;
    text-align: center;
	width: 50%;
	margin-left:  -50%;
	transition: all 1.0s;
}
.menu ul {
	flex-direction: column;
}
.menu li {
	border-top: 1px solid green;
}
#btn-menu:checked ~.menu {
	margin:0;
}

img{
	display: flex;
	flex-direction: column;
}




