
html{
	font-size: 16px;
	text-transform: Dancing Script;
}

body{
	height: 80%;
	margin: 0;
	font-family: sans-serif;
	
}


/*cabecera*/
header{
	width:100%;
	background: #5b7989;
	border-radius: 10px;
	
}
/*navegacion*/
#btn-menu{
	display: none;
	margin: auto;

}
header label {
	display:none;
	width: 20px;
	height:20px;
	padding:10px;
	

}
/*textotitulo*/
h1{
	margin: 0;
	padding: 0;
	text-align: left;
	text-shadow: 2px 2px #02010a;

}
header label:hover{
	cursor: pointer;
	background: rgba(0,0,0,0.3);
}
.menu ul{
	margin: 0;
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: flex-end;
	
	
}

.menu ul :hover{
	background:rgba(0,0,0,0.3);
}


.menu  li a {
	display:block;
	margin: 5%;
	padding:  10px;
	text-decoration: none;
	color:  #02010a;
}
/*centro*/
.central{
	display: block;
	width: 100%;
	height: 440px;



}

/*imagen centro*/
.imagen{
	width: 100%;
	height: 50%;
	background:  #82c3a6;
	

}
/*fotos y imagen*/
#imagen{
	width: 65%;
	height: 90%;
	display: flex;
	margin:auto;
	padding: 6px;
	border: solid 2px #02010a;
}




/*imagen centro 2*/
.imagenabajo{
	display: block;
	width: 100%;
	height: 60%;
	background:  #d5c75f;
	

}

.flexbox {
	width: 100%;
	height: 100%;
	background:  #d5c75f;
	border: solid 1px green;
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
}

.flexbox> div {
        width: 50%;
        height: 100%;
        padding: 0px;
        background:  #d5c75f;
}

.flexbox > div:first-child {
        margin-right: 2px;
}
/*imagen lado izquierda*/
#paisaje{
	
	width: 50%;
	height: 100%;
	
	 
}
/*imagen lado izquierda*/

#imagen2{
		display: block;
	margin:auto;
	padding: 3%;
	border: solid 2px #02010a;
}
#imagen2:hover {
	background: #82c3a6;
	-webkit-transform: rotate(10deg);
 	

}
/*imagen lado derecha*/
#retratos{
	float: right;
	width: 50%;
	height: 100%;
	
}
#imagen3{
	display: block;
	margin:auto;
	padding: 3%;
	transition-property: all;
	border: solid 2px #02010a;

}
#imagen3:hover{
	transform: translate(20px,-5px);
   	border: solid 2px #02010a;
   	background: #82c3a6;

}

/*pie de pagina*/
.piepagina{
	width: 100%;
	height:150px;
	display: flex;
	
	float: fixed;
	border-radius: 10px;
	background: #C6d5c5;
}
.contactos{
	
	width: 25%;
	height:100%;
	
	font-family:- "Dancing Script";
}

#texto{
	text-align: center;
	font-family: "Dancing Script";
	color:  #02010a;
}
h4{
text-align: center;
	font-family: "Dancing Script";
	color:  #02010a;	
}

ul li #correo{S

	text-align: center;
}
.terminos{
	width: 25%;
	height:100%;
	font-family:"Dancing Script";
}

#terminos{
	text-align: center;
	color:  #02010a;
}
.redessociales{
	width: 25%;
	height:100%;

	
}

#redessociales{
	text-align: center;
	font-family:"Dancing Script";
	color:  #02010a;
}
.social {
	right: 0;
	top: 25%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	z-index: 100;

}

.icon {
	display: flex;
	color: white;
	text-decoration: none;
	padding: .4rem;
	
	transition: all .5s;
}

.icon-facebook {
	background: #2E406E;
}

.icon-twitter {
	background: #339DC5;
}



.icon-instagram {
	 background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 

}

.icon:first-child {
	border-radius: 0  1rem 0 0 ;
}

.icon:last-child {
	border-radius:  0 0 1rem;
}

.icon:hover {
	padding-right: 6rem;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}
.derechos{

	width: 25%;
	height:100%;
	
	font-family: "Dancing Script";
}
#derechos{
	text-align: center;
	color:  #02010a;
}
.copy {

display: inline-block;
text-align: center;
margin: 5px;
-moz-transform: scaleX(1);
-o-transform: scaleX(1);
-webkit-transform: scaleX(1);
transform: scaleX(1);
filter: FlipH;
-ms-filter: "FlipH";
}


@media (max-width:768px){
header label{
	display: block;
}

.menu{
	position: absolute;
	background:#5b7989;
    text-align: center;
	width: 50%;
	margin-left:  -50%;
	transition: all 1.0s;
}
.menu ul {
	flex:block;
}
.menu li {
	border-top: 1px solid green;
}
#btn-menu:checked ~.menu {
	margin:0;
}

img{

	display: flex;
	
}


.flexbox {
	display: flex;  	
	flex-flow: row wrap; 	
	justify-content: center ; 
	align-items: center ; 	
	align-content: stretch; 
	}
	.imagenabajo{
		
	display: flex;  	
	flex-flow: row wrap; 	
	justify-content: center ; 
	align-items: center ; 	
	align-content: stretch; 
	}
 #paisajes{
 	
	
	margin:20px auto;		
	display: flex;  	
	flex-flow: row wrap; 	
	justify-content: center ; 
	align-items: center ; 	
	align-content: stretch; 
 }

 #retratos{
 	
	margin:20px auto;		
	display: flex;  	
	flex-flow: row wrap; 	
	justify-content: center ; 
	align-items: center ; 	
	align-content: stretch; 	
	}
 #piepagina{
 	

	
	min-width:320px;
	margin:20px auto;		
	display: flex;  	
	flex-flow: row wrap; 	
	justify-content: center ; 
	align-items: center ; 	
	align-content: stretch; 
	
 }


.contactos{
	width:60%;
	max-width:960px;
	min-width:320px;
	margin:20px auto;		
	display: flex;  	
	flex-flow: row wrap; 	
	justify-content: center ; 
	align-items: center ; 	
	align-content: stretch; 
}
.terminos{
	width:60%;
	max-width:960px;
	min-width:320px;
			
	display: flex;  	
	flex-flow: row wrap; 	
	justify-content: center ; 
	align-items: center ; 	
	align-content: stretch; 
}

.redessociales{
	width:60%;
	max-width:960px;
	min-width:320px;
	display: flex;  	
	flex-flow: row wrap; 	
	justify-content: center ; 
	align-items: center ; 	
	align-content: stretch; 
}
.derechos{
	width:60%;
	max-width:960px;
	min-width:320px;
	display: flex;  	
	flex-flow: row wrap; 	
	justify-content: center ; 
	align-items: center ; 	
	align-content: stretch; 
}